body{
    background-color: rgb(218, 201, 201);
}
header{
    /* background-color: red; */
    text-align: center;
}

#carouselExampleControls{
    background-color: red;
}

#intro{
    font-size: 60px;
    font-weight: 800;
    width: 60%;
    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}